/* Animation pour le logo */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.MuiBox-root:hover .MuiBox-root {
  animation: pulse 2s infinite;
}