/* src/index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body.dark-mode, body.dark-mode #root {
  background-color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}